img/bg-newsletter.jpg
        img/bg-resumen.jpg
        img/bg-talleres.jpg
        img/encabezado.jpg
        img/galeria/
        img/invitado1.jpg
        img/invitado2.jpg
        img/invitado3.jpg
        img/invitado4.jpg
        img/invitado5.jpg
        img/invitado6.jpg
        img/logo.svg
        img/separador.png
        img/talleres-flecha.jpg
        img/testimonial.jpg
        img/video/